@media screen and (max-width : 576px){
  .partie-droite{
    font-size: 7px ;
  }
  .interview-section{
    font-size: 7px ;
    margin-top: 500px;
  }

  .photo-section{
    font-size: 7px ;
    padding: 10px 5px 30px 5px ;
    height :500px;
  }
}

@media screen and (min-width : 577px) and (max-width :700px){
  .partie-droite{
    font-size: 8px ;
  }
  .interview-section{
    font-size: 8px ;
    margin-top: 500px;
  }
  .photo-section{
    font-size: 8px ;
    padding: 10px 10px 40px 10px ;
    height :550px;
  }
}

@media screen and (min-width : 701px) and (max-width :800px){
  .partie-droite{
    font-size: 10px ;
  }
  .interview-section{
    font-size: 10px ;
    margin-top: 650px;
  }
  .photo-section{
    font-size: 10px ;
    padding: 10px 15px 50px 15px ;
    height :500px;
  }
}

@media screen and (min-width : 801px) and (max-width :1000px){
  .partie-droite{
    font-size: 11px ;
  }
  .interview-section{
    font-size: 11.9px ;
    margin-top : 500px ;
  }
  .photo-section{
    font-size: 11.9px ;
    padding: 10px 20px 50px 20px ;
    height :600px;
  }
}

@media screen and (min-width : 1001px) and (max-width :1200px){
  .partie-droite{
    font-size: 11.9px ;
  }
  .interview-section{
    font-size: 11.9px ;
    margin-top: 450px;
  }
  .photo-section{
    font-size: 11.9px ;
    padding: 10px 20px 60px 20px ;
    height :650px;
  }
}

@media screen and (min-width : 1201px)and (max-width :1500px){
  .partie-droite{
    font-size: 14px ;
  }
  .interview-section{
    font-size: 14px ;
    margin-top: 500px;
  }
  .photo-section{
    font-size: 14px ;
    padding: 10px 25px 70px 25px ;
    height :700px;
  }
}

@media screen and (min-width : 1501px){
  .partie-droite{
    font-size: 16px ;
  }
  .interview-section{
    font-size: 16px ;
    margin-top: 570px;
  }
  .photo-section{
    font-size: 16px ;
    padding: 10px 30px 80px 30px ;
    height :700px;
  }
}


.header {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    height: 50px;
    width: 30%;
  }

  .menu-btn {
    background-color: transparent;
    color: black;
    border: none;
    padding: 30px 30px 30px 30px ;
    cursor: pointer;
    font-size: 30px;
    line-height : 40px ;
    text-decoration: none ;
  }

  .menu-dropdown {
    display: none;
    position: absolute;
    top: 65%;
    left: 8px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .menu-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-dropdown li a {
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .menu-dropdown li a:hover {
    background-color: #DCDCDC;
    color: black;
  }

  .header:hover .menu-dropdown {
    display: block;
  }

  .title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 3px #000000;
    padding: 0.25em 0.25em;
  }

  .photo-section {
    position : relative ;
    z-index : 1 ;
    width: 50%;
    height: 50%;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
  }
  .slick-carousel img {
    flex: none;
    width: 100%;
    height: 50%;
    color : black ;
    scroll-snap-align: start;
    margin-right: 20px;
    border : 3px solid black ;

  }

  h2 {
    font-size: 3em;
    font-weight: bold;
    color: black ;
    text-shadow: 1px 1px 3px #000000;
  }

  .recap-section {
    padding: 8.8px;
    color: black;
    box-sizing: border-box;
    margin-top: 15px ;
  }

  .partie-droite{
    width :42.4% ;
    float : right  ;
  }


  .recap-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .recap-section p {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .interview-section {
    position : relative ;
    padding: 80px;
    width: 100%;
    color: black;
    box-sizing: border-box;
    z-index : 2 ;
    background-color: white;
  }

  .interview-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .interview-section p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  .rep{
    font-size: x-large;
  }
  .reponses {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reponses #myBt {
    height : 50px ;
    font-size: large;

  }
  .language-menu {
    float: right;
    margin-top :-20px ;
  }

  footer {
    bottom: 0 ;
    width: 99% ;
    background-color: rgb(50, 50, 50);
    color: white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    margin-top : 50px ;
  }
  footer a{
    color : #fff;
  }
  footer a:hover {
    color :#db80fa
  }
  .youtube{
    color : red ;
    }
    .instagram{
    color :#fb92d1;
    }
    .facebook{
    color : rgb(67, 67, 242) ;
    }
    .link{
    color : rgb(14, 171, 244) ;
    }
  
  .footer-left h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-left p {
    margin-top: 0;
    line-height: 1.5;
  }
  
  .footer-medium h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }
  
    .footer-medium p {
      margin-top: 0;
      line-height: 1.5;
    }
  
  .footer-right ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: large;
  }
  
  .footer-right li {
    list-style: none;
    margin-left: 20px;
  }
  
  .footer-right li:first-child {
    margin-left: 0;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    color : black  ;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  
  .modal-content {
    background-color: whitesmoke;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  input {
    line-height : 2 ;
    margin-bottom: 10px ;
  }